@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.gradient {
  height: fit-content;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  max-width: none;
  background-image:
  radial-gradient(at 97% 21%, hsla(210, 50%, 40%, 1) 0px, transparent 50%),
  radial-gradient(at 52% 99%, hsla(280, 40%, 35%, 1) 0px, transparent 50%),
  radial-gradient(at 10% 29%, hsla(330, 60%, 30%, 1) 0px, transparent 50%),
  radial-gradient(at 97% 96%, hsla(240, 30%, 20%, 1) 0px, transparent 50%),
  radial-gradient(at 33% 50%, hsla(200, 50%, 25%, 1) 0px, transparent 50%),
  radial-gradient(at 79% 53%, hsla(260, 40%, 30%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(50px) saturate(100%);
  top: 80px;
  opacity: 0.4;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}





.app {
  @apply relative z-10 justify-center items-center flex-col mx-auto sm:px-16 px-6;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.black_btn {
  @apply rounded-[5px] border font-bold border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.blue_btn {
  @apply rounded-[5px] border font-bold border-[#3B72D2] bg-[#3B72D2] py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.outline_btn {
  @apply rounded-[5px] border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-bold flex items-center justify-center;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}